{% extends 'base.html' %}

{% block title %} Home{% endblock title %} 
{% block body %}
<div class="container-fluid my-1 px-0">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/static/img/5.jfif"width="400" 
     height="560" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SOFTWARE DEVELOPER </h5>
        <p>Its not about ideas,its about making ideas Happen. Creative solutions for your Business,Adverstisments.The perfect Software design solution Are Right here!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/static/img/2.jfif"width="400" 
     height="560" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Web Designer </h5>
        <p>There are three responses to a piece of design — yes, no, and WOW! Wow is the one that I aim for.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/3.jfif" width="400" height="560" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Application Developer</h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container my-3">
  <h1 class="my-4 text-center"> SKILLS </h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/img/s1.jpg" weight ="225" height="225"> 
            <h2>Python</h2>
            <div class="card-body">
              <p class="card-text">The joy of coding Python should be in seeing short, concise, readable classes that express a lot of action in a small amount of clear code not in reams of trivial code that bores the reader to death.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Certificate</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/s7.jpg" weight ="225" height="225">
            <h1>Java</h1>
            
            <div class="card-body">
              <p class="card-text">It is far easier to design a class to be thread-safe than to retrofit it for thread safety later,Desigining in Java is much familiar as it is a base programing language.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Certificate</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/s3.jpg" weight ="225" height="225">
             <h1>Html</h1>
            <div class="card-body">
              <p class="card-text">In my experience, requirements change quite often, or new situations will arise that weren’t anticipated at the start of the project.This can be Handeled with Html</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">ViewCertificate</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="/static/img/s4.jpg" weight ="225" height="225">
             <h1>Css</h1>
            <div class="card-body">
              <p class="card-text">Cascading Style Sheet(CSS) is not an overly complex language</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">ViewCertificate</button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="/static/img/s5.jpg"weight="225" height="225">
              <h1>SQL</h1>
            <div class="card-body">
              <p class="card-text">Structured Query Language.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">ViewCertificate</button>
                
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/s6.jpg"weight="225" height="225">
             <h1>jQuery</h1>
            <div class="card-body">
              <p class="card-text">jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handlingjQuery. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">ViewCertificate</button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
{% endblock body %}
